@media (max-width: 1280px){
    .container{
    	max-width: 970px;
    }
    .top-block{
	height: 100%;
    }
    .nav-left{
	    margin: 0 10px 0 0;
	}

    .nav-left>ul li{
	    width: 100px;
	}
	.nav-right{
	    margin: 0 0 0 10px;
	}
    .nav-right>ul li{
	    width: 100px;
	}
	.bottom-schedule{
	    width: 140px;
	}
	.title-name{
	    width: 690px;
		font-size: 76px;
	}
	.social-network>a{
	 margin-left: 80px;
	}
	.circle-button{
		left: 315px;
	}
    .about{
    	height: 575px;
    }
	.about__text{
    min-width: 485px;
    padding: 167px 20px 167px 20px; 
    }
    .text-bold{
	font-size: 14px;
    }
    .text-norm{
	font-size: 12px;
    }
    .about-img{
	margin: 50px 0px 0 -10px;
    }
    .about-rect{
    width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    position: absolute;
    right: 0px;
    top: 187px;
    }
    .team{
	height: 575px;
    }

    .team-img{
	margin: -50px 0 50px 0px;
    }
    .team-rect{
    width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    position: absolute;
    right: 0px;
    bottom: 197px;
    }
    .team-text{
	padding: 67px 20px 0 20px;
    }

    .book-table{
	height: 575px;
    }
    .book-content{
	height: 475px;
    }
    .book-form{
	padding: 112px 20px 0 20px;
    }
    .text-marg{
	margin-right: 5px;
    }
    .form-text{ 
	width: 218px;
	height: 50px;
    }
    .form-button{
	height: 50px;
    }
    .book-img{
    margin: 30px 0 0px 0;
    }
    .book-rect{
	position: absolute;
	right: 0px;
    top: 175px;
	width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    }

    .specialties{
	height: 575px;
    }
    .specialties-img{
    margin: -50px -10px 50px 0px;
    }
    .specialties-rect {
    position: absolute;
    left: 0px;
    bottom: 200px;
    width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    }
    .specialties-text{
    padding: 80px 10px 0 10px;
    }
    .menu{
    padding: 100px 0;
    }
    .menu-list{
    padding-left: 5px;
    }
    .menu-iteam {
    margin: 50px 75px;
    }
    .list-up{
    font-size: 15px;	
    }
    .list-down{
    font-size: 10px;	
    }
    .private-events{
	height: 575px;
    }
    .events-content{
	height: 375px;
    }
    .wed-img{
    max-width: 100%;
    margin: -50px -115px -37px 0;
    }
    .wed-title{
	height: 375px;
    }
    .wed-title{
    margin-right: 20px; 
    }
    .wed-rect{
	position: absolute;
	width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    left: 0px;
    top: 93px;
    }
    .corporate__row{
	padding-left: 20px;
    }
    .corporate-title{
	height: 375px;
    }
    .corporate-img{
	margin: -50px 0 -50px -117px;
    }
    .corporate-rect{
	position: absolute;
	width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    right: 0px;
    top: 93px;
    }
    .images__row{
    min-height: 242px;
    }
    .form-details{
    width: 316px;
    }
    .contact__form>a{
	margin-right: 10px;
    }
    .contact__form>a{
	margin-right: 10px;
	font-size: 10px;
}

    .contact-send{
    width: 464px;
    margin-left: 0px;
    }

}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
     .top-block{
    height: 100%;
    min-height: 700px;
    }
    .nav-left{
        margin: 0;
    }
    .logo{
    margin: 55px 0 0 0;
    }

    .nav-left>ul li{
        width: 75px;
    }
    .nav-right{
        margin: 0;
    }
    .nav-right>ul li{
        width: 75px;
    }
    .bottom-schedule{
        width: 100px;
        height: 600px;
    }
    .schedule{ 
    top: 150px;
    }
    .subtitle{
    margin-top: 150px;
    }
    .title-name{
    width: 550px;
    font-size: 63px;
    }
    .buttons>a{
    width: 160px;
    height: 60px; 
    text-align: center;
    }
    .social-network{
    padding-top: 150px;
    }
    .social-network>a{
     margin-left: 40px;
    }
    .circle-button{
    left: 245px;
    }

    .about{
    height: 512px;
    }
    .about__text{
    min-width: 375px;
    padding: 100px 20px 100px 20px; 
    }
    .text-bold{
    font-size: 14px;
    }
    .text-norm{
    font-size: 12px;
    }
    .about-img{
    margin: 65px 0px 0 -10px;
    }
    .about-rect{
    top: 160px;
    }

    .team{
    height: 512px;
    }
    .team-title {
    height: 80px;
    font-size: 12px;
    line-height: 80px;
    }
    .team-img{
    margin: -10px 0 0 0;
    }
    .team-rect{
    width: 190px;
    height: 190px;
    border: 15px solid #E8C300;
    position: absolute;
    right: 0px;
    bottom: 105px;
    }
    .team-text{
    padding: 30px 20px 0 20px;
    }

    .book-table{
    height: 512px;
    }
    .book-content{
    height: 462px;
    }
    .book-form{
    padding: 50px 40px 0 40px;
    }
    .text-marg{
    margin-right: 5px;
    }
    .form-text{ 
    width: 100%;
    height: 40px;
    margin-top: 8px;
    }
    .form-button{
    height: 40px;
    }
    .book-img{
    margin: 65px 0 0 0;
    }
    .book-rect{
    top: 161px;
    }
    .working-hours{
    line-height: 50px;
    }

    .specialties{
    height: 512px;
    }
    .specialties-title{
    line-height: 80px;
    }
    .specialties-img{
    margin: 0 -10px 0 0;
    }
    .specialties-rect {
    bottom: 91px;
    }
    .specialties-text{
    padding: 8px 10px 0 10px;
    }
    .menu{
    padding: 80px 0;
    height: 840px;
    }
    .menu-list{
    padding-left: 5px;
    }
    .menu-iteam {
    margin: 40px 0;
    }
    .menu-iteam>ul li{
    width: 105px;
    }
    .list-up{
    font-size: 12px; 
    letter-spacing: 0.2px;   
    }
    .list-down{
    font-size: 9px;    
    }


    .private-events{
    height: 512px;
    }
    .events-title{
    line-height: 80px;
    }
    .events-content{
    height: 352px;
    }
    .wed-img{
    max-width: 100%;
    margin: -36px -105px -35px 0;
    }
    .wed-title{
    height: 375px;
    }
    .wed-title{
    margin-right: 20px; 
    }
    .wed-rect{
    top: 83px;
    }
    .events-details{
    line-height: 80px;
    }
    .corporate-title{
    height: 375px;
    margin-left: 20px;
    }
    .corporate-img{
    margin: -36px 0 -36px -105px;
    }
    .corporate-rect{
    top: 83px;
    }
    .images__row{
    min-height: 192px;
    }

    .contact__form {
    margin: 80px 0 80px 0;
    }
    .form-details{
    width: 243px;
    }
    .contact__form>a{
    margin-right: 5px;
    font-size: 9px;
}

    .contact-send{
    width: 300px;
    margin-left: 2px;
    }


}

@media (max-width: 767px){
    .container{
    	max-width: none;
    }
    .nav-left{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .logo{
        margin: auto;
    }
    .header{
        position: relative;
        height: 50px;
    }
    .menu-bur{
        width: 45px;
        height: 16px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        opacity: 0.9;
        position: absolute;
        left: 25px;
        top: 35px;
        z-index: 1;
    }
     .top-block{
    height: 100%;
    min-height: 640px;
    }
    .bottom-schedule{
        width: 64px;
        height: 590px;
    }
    .schedule{ 
    top: 148px;
    }
    .subtitle{
    margin-top: 150px;
    font-size: 11px;
    }
    .title-name{
    width: 240px;
    font-size: 28px;
    line-height: 95px;
    }
    .buttons{
        margin-top: 20px;
    }
    
    .buttons>a:first-child{
    margin-right: 0;
    margin-bottom: 30px;
    }
    .social-network{
    padding-top: 148px;
    }
    .social-network>a{
     margin-left: 3px;
    }
    .circle-button{
    left: 100px;
    top:475px
    }
    .about__row{
        display: flex;
        flex-direction: column;
    }
    .about{
        height: 828px;
    }
    .about__text{
        min-width: 350px;
        padding: 50px 20px 50px 20px; 
    }
    .about__image{
    width: 100%;
    }
    .about-img{
    margin:0;
    }
    .about-rect{
        top: 80px;
    }

    .team{
        height: 828px;
    }
    .team-content{
        display: flex;
        flex-direction: column;
    }
    .team-title {
        height: 80px;
        font-size: 12px;
        line-height: 80px;
    }
    .team-image{
        width: 100%;
    }    
    .team-img{
        margin: -30px 0 0 0;
    }
    .team-rect{
        bottom: 85px;
    }
    .team-text{
        width: 100%;
    }
    
    .book-table{
        height: 873px;
    }
    .book-content{
        flex-direction: column;
        height: 462px;
    }
    .book-form{
        width: 100%;
        padding: 50px 40px 0 40px;
    }
    .working-hours{
        font-size: 8px;
    }
   
    .book-img{
        margin: 30px 0 0 0;
    }
    .book-image{
        width: 100%;
    }
    .book-rect{
        top: 111px;
    }
    .specialties{
        height: 828px;
    }
    .specialties-content{
        display: flex;
        flex-direction: column;
    }
    .specialties-image{
        width: 100%
    }
    .specialties-img{
        margin: -30px -10px 0 0;
    }
    .specialties-rect {
        bottom: 86px;
    }
    .specialties-text{
         width: 100%;
        padding: 10px 10px 0 10px;
    }
    .menu{
        padding: 50px 0;
        height: 940px;
    }
    .menu-text{
        width: 333px;
        font-size: 11px;
    }
    .menu-iteam {
        margin: 20px 0;
    }
    .menu-iteam>ul li{
        width: 50px;
    }
    .menu-iteam>ul li a {
        font-size: 11px;
        line-height: 40px;
    }
    .list-iteam {
        height: 90px;
    }
    .list-up{
        font-size: 13px; 
        letter-spacing: 0.2px;   
    }
    .list-down{
        font-size: 8px;    
    }

    .private-events{
        height: 878px;
    }
    .events-content{
        height: 352px;
        flex-direction: column;
    }
    .wedding{
        width: 100%;
    }
    .wed-img{
        max-width: 100%;
        margin: -36px -105px -35px 0;
        }
    .corporate{
            width: 100%;
    }
    .corporate__row{
        display: flex;
        overflow: visible;
    }
    .events-details{
        display: none;
        line-height: 40px;
    }
        .corporate-title{
        height: 375px;
        margin-left: 20px;
        }
        .corporate-img{
        margin: 0;
        }
        .corporate-rect{
        top: 83px;
        }

        .images__row{
            min-height: 90px;
        }
        
        .contact__form {
            margin: 50px 0 50px 0;
        }
        .contact-details {
            margin-top: 30px;
        }
        
        .form-details{
            width: 100%;
            margin-bottom: 5px;
        }
        textarea{
            margin-top: 0;
        }
     
        .contact__form>a{
            font-size: 7px;
            line-height: 14px;
        }
        
        .contact-send{
            width: 100%;
            margin-top: 10px;
        }
        
    
      
    




}